@use '../../assets/styles/variables';
@use '../../assets/styles/mixins';


.container {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.info {
  width: 100%;
  text-align: center;
}

.link {
  color: variables.$color-palette-blue;
  opacity: 1;
  transition: opacity ease .5s;

  &:hover {
    opacity: .5;
    transition: opacity ease .5s;
  }
}
