@use '../../assets/styles/variables';

.loader { width: 42px; height: 42px; border-radius: 50%; border: 3px solid #dbeafe; border-top-color: variables.$color-palette-green; animation: spinner .75s linear infinite; }
@keyframes spinner { to { transform: rotate(360deg); } }
