@use '../../assets/styles/variables';
@use '../../assets/styles/mixins';


.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 300px;
  max-width: 320px;
}
.heading {
  width: 100%;
  text-align: center;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.cancel {
  color: variables.$color-palette-error!important;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
