@use '../../assets/styles/variables';
@use '../../assets/styles/mixins';

.container {
  display: flex;
  border-bottom: 1px solid variables.$color-palette-white;
}

.listItem {
  color: variables.$color-palette-white;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  min-height: 80px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  max-width: 110px;
  min-width: 70px;
}

.listItemPropName {
  @include mixins.typography-x;
  display: flex;
  text-align: center;
  align-items: flex-start;
  min-height: 25px;
}

.listItemPropValue {
  @include mixins.typography-x;
  color: variables.$color-palette-blue;
}

.removeButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 5px;
  flex: 1 1;
}

.removeButton {
  max-width: 30px;
  max-height: 30px;
  min-width: 30px;
  min-height: 30px;
  color: variables.$color-palette-error!important;
  border-radius: 50%;
}

.updateButton {
  max-width: 30px;
  max-height: 30px;
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
}

@media screen and (max-width: 830px) {
  .listItem {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .listItemPropValue {
    @include mixins.typography-xs;
  }

  .listItemPropName {
    @include mixins.typography-xs;
  }

  .removeButtonContainer {
    min-height: 90px;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 500px) {
  .listItem {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
  }

  .wrapper {
    padding: 0;
  }

  .listItemPropName {
    min-height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }


}

@media screen and (max-width: 332px) {
  .listItemPropName {
    min-height: 57px;
  }
}
