@use '../../assets/styles/variables';
@use '../../assets/styles/mixins';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 3px;
  color: variables.$color-palette-blue;
  padding: 10px;
  overflow-y: hidden;
  height: 100%;
}

.heading {
  text-align: center;
  height: 50px;
  width: 100%;
  padding: 10px;
  @include mixins.typography-m;
}

.list {
  width: 100%;
  overflow-y: scroll;
  padding: 15px;
  height: 100%;
  border-left: 1px solid variables.$color-palette-white;
  &::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    min-height: 30%;
    max-height: 75dvh;
    flex: 1 1;
  }
}

@media screen and (max-width: 400px) {
  .list {
    padding: 5px;
    max-height: 100%;
  }
}
