@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.header {
  @include typography-xs;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color-palette-border;
  padding: 10px 20px;
  width: 100%;
}
.greetings {
  @include typography-l;

}
.desktopContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}

.exitButton {
  color: $color-palette-error;
  @include typography-l;
  width: 90px;
  padding: 5px;
}
.headerModalButton {
  background: inherit;
  border: none;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  background-image: url("../../assets/images/headerModalIcon.svg");
}

.mobileContainer {
  display: none;
}

@media screen and (max-width: 760px) {
  .header {
    padding: 5px;
    align-items: center;
    justify-content: space-between;
  }
  .desktopContainer {
    display: none;
  }
  .mobileContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}
