@use '../../assets/styles/variables';
@use '../../assets/styles/mixins';

.tab {
  color: variables.$color-palette-blue;
}
.tabActive {
  color: variables.$color-palette-green;
  border: 1px solid variables.$color-palette-green;
}
