#root {
    width: 100dvw;
    height: 100dvh;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background: #37383b;
    color: white;
}

p {
    margin: 0;
}
button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: white;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
