/*
  Fonts variables
*/
$font-roboto: 'Roboto', sans-serif;

/*
  Colors variables
*/
$color-palette-white: #FFFFFF;
$color-palette-black: #000000;
$color-palette-gray: #7A7A7A;
$color-palette-blue: #547CFB;
$color-palette-green: #009A63;
$color-palette-error: #E32636;
$color-palette-input-color-task: rgba(217, 217, 217, 0.15);
$color-palette-input-color-auth: rgba(255, 255, 255, 0.1);
$color-palette-border: rgba(255, 255, 255, 0.2);
$color-palette-icon:rgba(255, 255, 255, 0.5);
$color-palette-popup-background: rgba(217, 217, 217, 0.1);

