@use 'variables';
@use 'fonts';

*,
::after,
::before {
  box-sizing: border-box;
}

html,
body,
div[id='root'] {
  display: flex;
  flex-direction: column;
  border: 0;
  overflow-x: hidden;
  font-style: normal;
  scroll-behavior: smooth;
  font-family: variables.$font-roboto;
}

body {
  margin: 0 auto;
  background-color: variables.$color-palette-black;;
  padding: 0;
  color: variables.$color-palette-white;
}

#root {
  width: 100dvw;
  display: flex;
  align-items: center;
  height: 100dvh;
  position: relative;
}
#root::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1250px) {
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  border: none;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

button {
  box-shadow: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

input {
  border: 1px solid variables.$color-palette-input-color-auth;
  outline: none;
}

input:focus {
  outline: 1px solid variables.$color-palette-blue;;
  border: none
}

input:hover {
  outline: none;
  border: variables.$color-palette-black;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}

@media screen and (max-width: 400px) {
  html,
  body,
  div[id='root'] {
    overflow-x: auto;
  }
}
