@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.container {
  display: flex;
  border: 1px solid $color-palette-white;
  padding: 5px;
  gap: 10px;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 70px;
}

.incorrect {
  color: $color-palette-error;
}
